menu {
    background-color: #742d2e;
    padding: 15px 0px;
    margin-bottom: 20px;
}

.menu ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu ul li a {
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}

.menu ul li a:hover {
    text-decoration: underline;
    color: rgb(252, 235, 235);
}

.cabecalho-principal {
    margin-bottom: 30px;
    padding: 0 20px;
    text-align: center;
}

.cabecalho-principal p {
    font-size: 1.1em;
    color: #666666;
    max-width: 700px;
    margin: 0 auto;
    line-height: 1.8;
}

.caixa-conteudo h3 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #fff;
    font-size: 1.6rem;
    text-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);
    z-index: 3; 
}

.btn-reserva {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #611515;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
}
                                                                                                                   
.caixa-conteudo h3::first-letter {
    color: #FFB347;
    font-size: 2rem;
}

::selection {
    background-color: #611515;
    color: #fff;
}

.rodape{
  left:0;
  right:0;
  bottom:0;
  background:#742d2e;
  color:#fff;
  text-align:center;
  padding: 12px, 16px;
  border-top:1px solid #5e2425;
  z-index:1000;
}

.rodape p{
  margin:4px 0;
}